<div ui-modal class="fade modal" ng-model="regModalShown" id="regModal" ng-controller="RegisterCtr">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Регистрация</h3>
    </div>
    <form ng-submit="register()">
        <div class="modal-body">
            <div class="control-group">
                <div class="controls">
                    <input type="text" class="input-large" ng-model="email" placeholder="e-mail"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" class="input-large" ng-model="username" placeholder="Логин"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" class="input-large" ng-model="password" placeholder="Пароль"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <input type="submit" class="btn btn-primary" value="Зарегистрироваться"/>
        </div>
    </form>
</div>