<div ui-modal class="fade modal" ng-model="signInModalShown" id="signInModal" ng-controller="SignInCtr">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Вход</h3>
    </div>
    <form ng-submit="signIn()">
        <div class="modal-body">
            <div class="control-group">
                <div class="controls">
                    <input type="text" class="input-large" ng-model="username" placeholder="Логин"/>
                </div>
                <div class="controls">
                    <input type="password" class="input-large" ng-model="password" placeholder="Пароль"/>
                </div>
                <div class="controls">
                    <input type="checkbox" ng-model="rememberMe"/> &ndash; Запомнить
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <input type="submit" class="btn btn-primary" value="Войти"/>
        </div>
    </form>
</div>